name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ synchronize, opened ]
  workflow_dispatch:

jobs:
  validate-jsons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Validate JSONs
        shell: bash
        run: |
          for file in workflow/*/*.json; do echo Validating $file... && jsonschema -i $file hescore-hpxml/hescorehpxml/schemas/hescore_json.schema.json; done
  
  run-tests:
    runs-on: ubuntu-latest
    needs: validate-jsons
    container:
      image: nrel/openstudio:3.3.0
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Install gems
        run: rm -f Gemfile.lock && bundle install
      - name: Run tests
        run: bundle exec rake test_all
      - name: Store results
        uses: actions/upload-artifact@v2
        with:
          name: test_results
          path: workflow/test_results
      - name: Store code coverage
        uses: actions/upload-artifact@v2
        with:
          path: coverage
          name: coverage

  compare-results:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - name: Store base results
        uses: actions/upload-artifact@v2
        with:
          path: workflow/tests/base_results
          name: base_results

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Download base results
        uses: actions/download-artifact@v2
        with:
          path: |
            base_results
          name: base_results

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: test_results

      - name: Compare results
        run: |
          cp -r base_results/results*.csv workflow/tests/base_results
          mkdir workflow/tests/results
          cp -r results/results*.csv workflow/tests/results
          
          pip install numpy
          pip install pandas
          pip install plotly
          pip install kaleido
          
          python hpxml-measures/workflow/tests/compare.py -a results
          python hpxml-measures/workflow/tests/compare.py -a visualize

      - name: Store comparisons
        uses: actions/upload-artifact@v2
        with:
          path: workflow/tests/comparisons
          name: comparisons

  update-results:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: test_results

      - name: Commit latest results
        shell: bash        
        run: |
          branch_name="${{ github.head_ref }}"
          git pull origin $branch_name
          cp -r results/results*.csv workflow/tests/base_results
          git add workflow/tests/base_results
          git status
          if [[ $(git diff --cached --exit-code) ]]; then
            git config --global user.email "github-action@users.noreply.github.com"
            git config --global user.name "GitHub Action"
            git commit -m "Latest results."
            echo "Pushing to branch: $branch_name"
            git push -u origin $branch_name
          fi
